releases:
  - name: litellm
    namespace: litellm
    chart: oci://ghcr.io/berriai/litellm-helm
    version: 0.1.694
    values:
      - ingress:
          enabled: true
          hosts:
            - host: litellm.onto.one
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - litellm.onto.one
              secretName: wildcard-onto-one
      - proxy_config:
          model_list:
            - model_name: gpt-4.1
              litellm_params:
                model: azure/gpt-4.1
                api_base: {{ env "AZURE_API_BASE" }}
                api_key: {{ env "AZURE_API_KEY" }}
                api_version: {{ env "AZURE_API_VERSION" }}
          general_settings:
            store_model_in_db: true
            store_prompts_in_spend_logs: true          
            master_key: {{ env "PROXY_MASTER_KEY" }}
      - envVars:
          AZURE_API_BASE: {{ env "AZURE_API_BASE" }}
          AZURE_API_KEY: {{ env "AZURE_API_KEY" }}
          AZURE_API_VERSION: {{ env "AZURE_API_VERSION" }}
          PROXY_MASTER_KEY: {{ env "PROXY_MASTER_KEY" }}
      - db:
          persistence:
            enabled: true
            storageClass: local-path
            size: 10Gi