releases:
  - name: kroki
    namespace: kroki
    chart: cowboysysop/kroki
    values:
      - env:
          KROKI_MERMAID_HOST: mermaid
          KROKI_BPMN_HOST: bpmn
          KROKI_EXCALIDRAW_HOST: excalidraw
      - ingress:
          enabled: true
          ingressClassName: nginx
          hosts:
            - host: kroki.onto.one
              paths:
                - /
          tls:
            - secretName: kroki-tls
              hosts:
                - kroki.onto.one
